@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.editor-class-name {
    border-bottom: 1px solid rgb(224, 224, 224);
    min-height: 250px;
}
.loading {
    opacity: .1;
}
.label-form {
    position: absolute; line-height: 22px; top: 0px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; z-index: 1; transform: scale(0.75) translate(0px, -28px); transform-origin: left top 0px; pointer-events: none; user-select: none; color: rgba(0, 0, 0, 0.3);

}
.set-form {
    font-size: 16px; line-height: 24px; width: 100%; height: 72px; display: inline-block; position: relative; background-color: transparent; font-family: Roboto, sans-serif; transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; cursor: auto;
}
#create-post-container .row>.set-form {
    margin-top: 20px;
}
#create-post-container {
    margin-top: 20px;
}
#create-post-container .row>div {
    margin-bottom: 15px;
}

.dropzone-container {
    position: relative!important;
    min-height: 100px;
    background: rgba(0,0,0,0);
    margin: 10px;

}
.overlayStyle, .dropzone-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color:#fff
}