.App-logo {
    margin-left: 20px;
    cursor: pointer;
    padding: 10px 0;
}

.App .navbar {
    border-radius: 0;
    boder:0;
}

.App .navbar-brand {
  font-weight: bold;
}
.fixed-header {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 99;
}
